# Dependencies
node_modules/

# Environment
.env

# Build
dist/

# Jest cache
.jest-cache/

# Logs
*.log

# Firebase (barcha service account JSON va base64)
firebase-service-account.json
*-firebase-adminsdk-*.json
zo-rpizza-firebase-adminsdk-*.json
firebase-base64.txt

# Package locks (using pnpm)
package-lock.json
package-lock*.json
yarn.lock