# Dependencies
node_modules/

# Environment
.env

# Build
dist/

# Logs
*.log

# Firebase
firebase-service-account.json
firebase-base64.txt

# Package locks (using pnpm)
package-lock.json
package-lock*.json
yarn.lock